.min-height {
    min-height: 500px;
}

.book-title {
    width: 100%;
    margin: 10px;
}

.table-holder {
    text-align: center;
    margin: 20px;
}

.bg-success {
    height: 100px;
}

.btn-color {
    background-color: #dff0d8;
}

.words-table {
    margin: 10px;
}