.min-height {
    min-height: 500px;
}

.book-title {
    width: 100%;
    margin: 10px;
}

.btn-color {
    background-color: #dff0d8;
}

.table-holder {
    text-align: center;
    margin: 20px;
}

.table-wrapper {
    width: 60%;
    margin-left: 20%;
}

.words-table {
    margin: 10px;
}

.index {
    width: 10%;
}

.freq {
    width: 25%;
    text-align: left;
}

.word {
    width: 65%;
    font-weight: bold;
    text-align: right;
}