<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Word Frequency</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="@routes.Assets.versioned("bower_components/angularUtils-pagination/dirPagination.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")" type="text/javascript"></script>

    </head>
    <body ng-app="app" >
        <div class="container" ng-controller="tableController">

            <div class="row bg-success">
                <div class="col-lg-12">
                    <h3 class="text-muted text-center">word frequency</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4 class="text-muted">About</h4>
                    <p>
        What is it? How can it help? What is a purpose? Who could be interested in it?
                    </p>
                </div>
            </div>


            <div class="row" ng-show="!serverData">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4 class="text-muted">Select a <mark>.txt</mark> file in English</h4>
                    <div>
                        <input class="btn btn-color" data-upload-Directive type="file" name="file"/>
                    </div>
                </div>
            </div>
            
            <div class="row table-holder" ng-show="serverData">
                <div class="col-lg-8 col-lg-offset-2">
                    <a class="btn btn-color" href="@routes.DictionaryController.getExcelDictionary()">Export to excel</a>
                    <a class="btn btn-color" href="">Upload new file</a>
                    <label class="book-title">Book long title example</label>
                    <br/>
                    <table class="table words-table">
                        <tr dir-paginate="item in currentPageWords | itemsPerPage: wordsPerPage" current-page="pagination.current">
                            <td>{{$index + 1 + (pagination.current - 1) * wordsPerPage}}</td>
                            <td>{{ item.freq }}</td>
                            <td>{{ item.word }}</td>
                        </tr>
                    </table>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber-1)"></dir-pagination-controls>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4 class="text-muted">Feedback? Suggestion?</h4>
                </div>
            </div>
        </div>

        <hr/>

    </body>
</html>